.logo{
    background-color: #BF8B63;
    width: 100%;
}
.caroussel {
    padding: 0%;
    position: relative;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
  }
  
  .carroussel_images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
    padding: 0%;
    height: 250px;
  }
  
  .carroussel_img {
    width: calc(100% / 3 - 20px); /* Ajustez en fonction du nombre d'images visibles */
    height: 150px;
    object-fit: contain;
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .carroussel_img:hover {
    transform: scale(1.05);
  }
  
  .fleches {
    width: 150px;
    height: 150px;
    cursor: pointer;
    object-fit: cover; 
    transition: opacity 0.3s ease;
  }
  
  .fleches:hover {
    opacity: 0.7;
  }
  
  /* Styles pour les images de lune (flèches) */
  .fleches[src*="luneg"] {
    transform: rotate(180deg); /* Rotation pour la flèche gauche si nécessaire */
  }
  
 
  
  @media (max-width: 768px) {
    .carroussel{
      width: 100%;
      padding: 0%;
      margin: 0%;
    }
    

    
    .carroussel_img{
        height: 250px;
        width: 250px;
    }
  }

  @media (max-width: 650px) {
    .fleches{
      height: 75px;
      width: auto;
      cursor: pointer;
    object-fit: cover; 
    transition: opacity 0.3s ease;
    }
  }

  @media (max-width: 500px) {
    .fleches{
      height: 50px;
      width: auto;
      cursor: pointer;
    object-fit: cover; 
    transition: opacity 0.3s ease;
    }
  }
  @media (max-width: 400px) {
    .fleches{
      height: 25px;
      width: auto;
      cursor: pointer;
    object-fit: cover; 
    transition: opacity 0.3s ease;
    }
  }