.carousel-artistes {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px; /* Espace pour les flèches */
  box-sizing: border-box;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;

}

.arrow:first-child {
  left: 0;
}

.arrow:last-child {
  right: 0;
}

.artistes {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.artiste-container {
  flex: 0 0 calc(100% / 3); /* Pour 3 artistes visibles */
  max-width: calc(100% / 3);
  padding: 0 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.artiste-image {
  height: 250px; /* Hauteur fixe pour toutes les images */
  width: auto; /* La largeur s'adaptera automatiquement */
  object-fit: contain; /* Assure que l'image entière est visible */
  max-width: 100%;
}

.artiste-name {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 768px) {
  .carousel-artistes {
      padding: 0 40px;
  }

  .artiste-container {
      flex: 0 0 100%;
      max-width: 100%;
  }
}