.donde{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lugar{
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.lugar img{
    max-height: 300px;
}