.compteur {
    max-width: 100%;
    font-family: 'Corbel';
    font-size: 40px;
    font-weight: bold;
    color: #E0DA4F;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C3302;
    height: 45px;

}

/* Media Queries pour le responsive */

@media (max-width: 768px) {
    .compteur {
        font-size: 28px; /* Réduction de la taille de la police */
        height: 40px; /* Ajustement de la hauteur */
    }
}

@media (max-width: 480px) {
    .compteur {
        font-size: 20px; /* Réduction supplémentaire pour les petits écrans */
        height: 35px; /* Ajustement de la hauteur */
    }
}

@media (max-width: 360px) {
    .compteur {
        font-size: 16px; /* Taille de police encore plus petite */
        height: 25px; /* Ajustement de la hauteur */
        
    }
}