.boutont {
    background-color: #BF8B63;
    color: #283527;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: 2s;
    
  }
  .boutont:hover {
    background-color: #283527;
    color: #BF8B63 ;
  }