.footer {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Assure que tous les enfants occupent la même hauteur */
    color: #7C3302;
    font-family: 'Adamina';
    font-weight: bold;
    font-size: 15px;
    
}
.contenus{
    width: 100%;
}

.footer-logo {
    display: flex;
    justify-content: flex-end; /* Centre le logo horizontalement */
    width: 30%; /* Largeur fixe pour le conteneur du logo */
}

.footer-logo img {
    height: 250px; /* Hauteur fixe pour l'image du logo */
    width: auto; /* Maintient le ratio de l'image */
}

.footer-container {
    display: flex;
    flex: 1; /* Prend le reste de l'espace après le logo */
    flex-direction: column;
    justify-content: space-between; /* Espace entre les colonnes et la signature */
}

.columns {
    display: flex;
    justify-content: space-between; /* Espace entre les colonnes sur toute la largeur */
    align-items: center;
    flex: 1; /* Prend tout l'espace disponible verticalement */
    padding: 0 20px; /* Ajoute un peu de padding pour l'espacement latéral */
}

.footer-column {
    text-align: center;
    flex: 1; /* Permet aux colonnes de prendre un espace égal */
    padding-top: 10px;
}

.footer-signature {
    text-align: center;
    padding: 10px 0; /* Ajoute un peu de padding pour l'espacement */
}

a {
    text-decoration: none;
    color: inherit;
}
/* Responsive Styles for Tablets */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Empile les éléments verticalement */
    }

    .footer-logo {
        justify-content: center; /* Centre le logo */
        width: 100%; /* Prend toute la largeur */
        margin-bottom: 20px; /* Ajoute un espacement en bas */
    }

    .footer-container {
        width: 100%;
    }

    .columns {
        flex-direction: column; /* Empile les colonnes verticalement */
        align-items: center; /* Centre les colonnes */
    }

    .footer-column {
        margin-bottom: 20px; /* Ajoute un espacement entre les colonnes */
    }
}

/* Responsive Styles for Mobile */
@media (max-width: 480px) {
    .footer {
        padding: 10px; /* Réduit le padding pour les petits écrans */
        font-size: 12px; /* Réduit la taille de la police pour une meilleure lisibilité */
    }

    .footer-logo img {
        height: 150px; /* Réduit la hauteur du logo pour les petits écrans */
    }

    .footer-signature {
        padding: 5px 0; /* Réduit le padding pour économiser de l'espace */
    }

    #mobil , #mobile {
        display: none;
    }
}