.Appel{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topapp{
    width: 80;
    text-align: center;
    
}

p{
    width: 80%;
    padding: 0% 5%;
}

.bt {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: center;
    
}

.limite{
    background-color: #7C3302;
    color: #E0DA4F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}