@font-face {
  font-family: 'ApexBrush';
  src: url('../public/font/FontsFree-Net-apex-brush-regular.ttf') format('truetype'); /* Chemin relatif vers le fichier de police */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Adamina';
  src: url('../public/font/Adamina-Regular.ttf') format('truetype'); /* Chemin relatif vers le fichier de police */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'InriaSerif';
  src: url('../public/font/InriaSerif-Regular.ttf') format('truetype'); /* Chemin relatif vers le fichier de police */
  font-weight: normal;
  font-style: normal;
}

.App{
  margin: 0%;
  background-color: white;
  color: #1F1E13;
  font-family:  'InriaSerif';
  align-items: center;
  width: 100%;
 }

 h1{
  font-family: 'ApexBrush';
  font-size: 48px;
  text-align: center;
 }
 h2{
  font-family: 'ApexBrush';
  font-size: 40px;
  text-align: center;
 }

h3{
  font-family: 'Adamina';
  font-size: 32px;
  text-align: center;
}
h4{
  font-family: 'Adamina';
  font-size: 24px;
  text-align: center;
}

.vidéo{
  display: flex;
  justify-content: center;
  align-items: center;
}
